In [1]:
import pandas as pd
import numpy as np

## 1.Introducción

En este notebook voy a trabajar con un dataset de coches obtenido de Kaggle, concretamente del conjunto “Cars Datasets 2025”:
https://www.kaggle.com/datasets/abdulmalik1518/cars-datasets-2025

El dataset contiene información detallada de diferentes modelos de coches: marca, motor, cilindrada, potencia, velocidad, precio, combustible, asientos, etc.
Cada fila representa un coche individual, no datos agregados ni resúmenes, lo que significa que se puede analizar cada vehículo por separado y detectar fácilmente valores extraños, errores o patrones.

### 1.1.¿Cuál es el objetivo de este proyecto?

El propósito de este ejercicio es aprender a realizar un flujo completo y ordenado de análisis exploratorio inicial (EDA) sobre un dataset real. El objetivo no es realizar análisis estadísticos avanzados, sino dominar las fases fundamentales que permiten comprender y describir datos antes de cualquier modelado.

### 2.Exploración

Vamos a comenzar haciendo un vistazo general de la tabla para ver que tenemos

In [7]:
#Lo primero que hacemos es cargar el dataset y  visualizarlo
df=pd.read_csv('../data/dataset_sucio_para_limpieza.csv')
#Ya podemos acceder a los metodos de pandas para explorar el dataset. 
#1.Usando .sample(4) se muestran 4 filas aleatorias del dataset
df.sample(4)

,Company Names!!,Car_Name @,Tipo de motor,CC / Batt.Capacidad,Horse Power(HP)!,velocidad max kmh,0_100 km/h (seg),Precio $$ coche,TipoCombustible,Num Asientos,Par motor (Nm)??
0,Ferrari,SF90 STRADALE,V8,3990cc,963hp,340km/h,2.5 sec,"$1,100,000",Plug In Hybrid,2,800 Nm
908,Jaguar,XE R-Dynamic,I4 Petrol,1999cc(I4),340hp,250km/h,5.4 sec,"$60,000",Petrol,5,450 Nm
1362,Skoda,Kodiaq 2024,2.0L Turbo I4,1984cc,204 hp,210km/h,8.5 sec,??,Petrol,7,320 Nm
40,Aston Martin,LAGONDA TARAF,V12,"5,935cc",540hp,NaN,4.2 sec,"$1,100,000",Petrol,4,630

In [8]:
# Primeras filas
df.head()

,Company Names!!,Car_Name @,Tipo de motor,CC / Batt.Capacidad,Horse Power(HP)!,velocidad max kmh,0_100 km/h (seg),Precio $$ coche,TipoCombustible,Num Asientos,Par motor (Nm)??
0,Ferrari,SF90 STRADALE,V8,3990cc,963hp,340km/h,2.5 sec,"$1,100,000",Plug In Hybrid,2,800 Nm
1,Rolls Royce,PHANTOM,V12,6749cc,563-hp,250km/h,5.3 sec,"$460,000",Petrol,5,900 N·m
2,Ford,KA+,1.2L Petrol,"1,200cc",70-85hp,165km/h,10.5 sec,"$12,000-$15,000",Petrol,5,100 - 140 Nm
3,Mercedes,GT 63 S,V8,"3,982cc",630hp,250km/h,3.2 sec,"$161,000",Petrol,4,900 Nm
4,Audi,R8 Gt,V10,"5,204cc",602hp,320km/h,3.6 sec,"$253,290",Petrol,2,560 Nm

In [ ]:
# Últimas filas
df.tail()

,Company Names!!,Car_Name @,Tipo de motor,CC / Batt.Capacidad,Horse Power(HP)!,velocidad max kmh,0_100 km/h (seg),Precio $$ coche,TipoCombustible,Num Asientos,Par motor (Nm)??
1385,Toyota,Compact GT Line,2.0L Hybrid I4,1998cc+Battery,200hp,205km/h,7.5 sec,$34000,Hybrid,5,260 Nm
1386,Volkswagen,Sedan Sport,NaN,1998cc,245hp,230km/h,6.6 sec,$36000,Petrol,5,370 nm
1387,Volvo,SUV Luxury,2.0L Turbo I4,1969cc,250hp,220km/h,7.0 sec,$45000,Petrol,5,350 Nm
1388,Opel,Crossover Trail,1.5L Turbo I4,1496cc,180hp,205km/h,8.1 sec,$30000,Petrol,5,270 Nm
1389,Citroën,Hatchback Performance,1.6L Turbo I4,1598cc,210hp,215 KMH,7.4 sec,$29000,Petrol,5,300 Nm

### 2.1 Dimensiones

In [10]:
df

,Company Names!!,Car_Name @,Tipo de motor,CC / Batt.Capacidad,Horse Power(HP)!,velocidad max kmh,0_100 km/h (seg),Precio $$ coche,TipoCombustible,Num Asientos,Par motor (Nm)??
0,Ferrari,SF90 STRADALE,V8,3990cc,963hp,340km/h,2.5 sec,"$1,100,000",Plug In Hybrid,2,800 Nm
1,Rolls Royce,PHANTOM,V12,6749cc,563-hp,250km/h,5.3 sec,"$460,000",Petrol,5,900 N·m
2,Ford,KA+,1.2L Petrol,"1,200cc",70-85hp,165km/h,10.5 sec,"$12,000-$15,000",Petrol,5,100 - 140 Nm
3,Mercedes,GT 63 S,V8,"3,982cc",630hp,250km/h,3.2 sec,"$161,000",Petrol,4,900 Nm
4,Audi,R8 Gt,V10,"5,204cc",602hp,320km/h,3.6 sec,"$253,290",Petrol,2,560 Nm
...,...,...,...,...,...,...,...,...,...,...,...
1385,Toyota,Compact GT Line,2.0L Hybrid I4,1998cc+Battery,200hp,205km/h,7.5 sec,$34000,Hybrid,5,260 Nm
1386,Volkswagen,Sedan Sport,NaN,1998cc,245hp,230km/h,6.6 sec,$36000,Petrol,5,370 nm
1387,Volvo,SUV Luxury,2.0L Turbo I4,1969cc,250hp,220km/h,7.0 sec,$45000,Petrol,5,350 Nm
1388,Opel,Crossover Trail,1.5L Turbo I4,1496cc,180hp,205km/h,8.1 sec,$30000,Petrol,5,270 Nm
1389,Citroën,Hatchback Performance,1.6L Turbo I4,1598cc,210hp,215 KMH,7.4 sec,$29000,Petrol,5,300 Nm

Como podemos observar el df tiene 1390 filas y 11 columnas. Otra forma de ver la dimensión del df es:

In [11]:
df.shape #Esta forma es mas visual

(1390, 11)

### 2.2 Nombre de las columnas

Vamos a ver los nombres de las columnas para poder renombrarlo y dar un formato adecuado

In [12]:
df.columns

Index([' Company  Names!!', 'Car_Name @', 'Tipo de motor  ',
       'CC / Batt.Capacidad ', ' Horse Power(HP)! ', 'velocidad max kmh ',
       '0_100 km/h  (seg) ', 'Precio $$ coche', 'TipoCombustible  ',
       '  Num Asientos ', 'Par motor (Nm)??'],
      dtype='object')

Podemos observar que los nombres de las columnas están llenos de fallos gramaticales

### 2.3.Tipos de datos

In [13]:
# Info general del DataFrame (podemos observar los tipos de datos)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1390 entries, 0 to 1389
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0    Company  Names!!     1390 non-null   object
 1   Car_Name @            1390 non-null   object
 2   Tipo de motor         1389 non-null   object
 3   CC / Batt.Capacidad   1359 non-null   object
 4    Horse Power(HP)!     1324 non-null   object
 5   velocidad max kmh     1323 non-null   object
 6   0_100 km/h  (seg)     1384 non-null   object
 7   Precio $$ coche       1321 non-null   object
 8   TipoCombustible       1390 non-null   object
 9     Num Asientos        1349 non-null   object
 10  Par motor (Nm)??      1363 non-null   object
dtypes: object(11)
memory usage: 119.6+ KB

In [14]:
# Tipos de datos por columna
df.dtypes

 Company  Names!!       object
Car_Name @              object
Tipo de motor           object
CC / Batt.Capacidad     object
 Horse Power(HP)!       object
velocidad max kmh       object
0_100 km/h  (seg)       object
Precio $$ coche         object
TipoCombustible         object
  Num Asientos          object
Par motor (Nm)??        object
dtype: object

Todas las columnas aparecen como object porque contienen texto mezclado con números y valores desordenados. Esto impide que Pandas pueda identificar correctamente el tipo de dato real de cada columna. Tras la limpieza, muchas de ellas se convertirán en columnas numéricas (int/float), lo que permitirá realizar un análisis correcto.

`Más adelante.....`

In [15]:
df.sample(2)

,Company Names!!,Car_Name @,Tipo de motor,CC / Batt.Capacidad,Horse Power(HP)!,velocidad max kmh,0_100 km/h (seg),Precio $$ coche,TipoCombustible,Num Asientos,Par motor (Nm)??
1243,Cadillac,Escalade V,6.2L Supercharged V8,6162CC,682hp,290km/h,4.4 sec,??,Petrol,7,885 Nm
887,Bugatti,La Voiture Noire,8.0L Quad-Turbo W16,7993cc,1500hp,420km/h,2.5 sec,"$18,000,000",Petrol,2,1600 Nm

Como bien he dicho tras realizar la limpieza veremos los tipos de datos correctos para cada columna

### 2.4.Resumen estadístico

Aún no tiene mucho sentido realizarlo ya que no tenemos números para poder ver comparaciones entre sí. Volveremos a realizarlo posteriormente.

In [16]:
df.describe()

,Company Names!!,Car_Name @,Tipo de motor,CC / Batt.Capacidad,Horse Power(HP)!,velocidad max kmh,0_100 km/h (seg),Precio $$ coche,TipoCombustible,Num Asientos,Par motor (Nm)??
count,1390,1390,1389,1359,1324,1323,1384,1321,1390,1349,1363
unique,52,1358,409,481,552,174,181,616,37,16,392
top,Nissan,Mistral,I4,1984cc,310hp,250km/h,6.5 sec,??,Petrol,5,400 Nm
freq,163,3,64,31,21,134,51,93,883,758,64

### 2.5.Valores perdidos (NaN)

In [17]:
# Contar valores nulos por columna del mayor al menor
df.isna().sum().sort_values(ascending=False)

Precio $$ coche         69
velocidad max kmh       67
 Horse Power(HP)!       66
  Num Asientos          41
CC / Batt.Capacidad     31
Par motor (Nm)??        27
0_100 km/h  (seg)        6
Tipo de motor            1
 Company  Names!!        0
Car_Name @               0
TipoCombustible          0
dtype: int64

In [18]:
# Porcentaje de nulos por columna
(df.isna().mean() * 100).round(2).sort_values(ascending=False)

Precio $$ coche         4.96
velocidad max kmh       4.82
 Horse Power(HP)!       4.75
  Num Asientos          2.95
CC / Batt.Capacidad     2.23
Par motor (Nm)??        1.94
0_100 km/h  (seg)       0.43
Tipo de motor           0.07
 Company  Names!!       0.00
Car_Name @              0.00
TipoCombustible         0.00
dtype: float64

Vemos que la columna Precio es donde más valores faltan


### 2.6.Duplicados

In [19]:
# Número de filas duplicadas completas
df.duplicated().sum()

np.int64(0)

In [20]:
# Ver las filas duplicadas (si las hay)
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [ Company  Names!!, Car_Name @, Tipo de motor  , CC / Batt.Capacidad ,  Horse Power(HP)! , velocidad max kmh , 0_100 km/h  (seg) , Precio $$ coche, TipoCombustible  ,   Num Asientos , Par motor (Nm)??]
Index: []

No hay duplicados en mi dataset

### 2.7 Ver valores únicos de cada columna

In [21]:
#listado de todos los nombres de las columnas
df.columns

Index([' Company  Names!!', 'Car_Name @', 'Tipo de motor  ',
       'CC / Batt.Capacidad ', ' Horse Power(HP)! ', 'velocidad max kmh ',
       '0_100 km/h  (seg) ', 'Precio $$ coche', 'TipoCombustible  ',
       '  Num Asientos ', 'Par motor (Nm)??'],
      dtype='object')

In [22]:
df[" Company  Names!!"].unique()

array(['Ferrari', 'Rolls Royce', 'Ford', 'Mercedes', 'Audi', 'McLaren',
       'Aston Martin', 'Bentley', 'Lamborghini', 'Toyota', 'Nissan',
       'Bmw', 'Volvo', 'Kia', 'Honda', 'Hyundai', 'Mahindra',
       'Maruti Suzuki', 'Volkswagen', 'Porsche', 'Cadillac',
       'Tata Motors', 'Tesla', 'Jeep', 'Mazda', 'Chevrolet', 'Gmc',
       'Peugeot', 'Bugatti', 'Jaguar', 'Acura', 'Mitsubishi',
       'Alfa Romeo', 'BMW', 'BYD', 'Citroën', 'Cupra', 'Dacia', 'Dodge',
       'Genesis', 'Land Rover', 'Lexus', 'Lucid', 'Maserati', 'Mini',
       'Opel', 'Polestar', 'Renault', 'Skoda', 'Subaru', 'Suzuki',
       'Alpine'], dtype=object)

In [35]:
df["Car_Name @"].unique()

array(['SF90 STRADALE', 'PHANTOM', 'KA+', ..., 'SUV Black Edition',
       'Crossover Platinum', 'Hatchback Performance'],
      shape=(1358,), dtype=object)

In [24]:
df["Tipo de motor  "].unique()

array(['V8', 'V12', '1.2L Petrol', 'V10', 'I4', 'BOXER-4', 'V6',
       'ELECTRIC MOTOR', 'I6', 'ELECTRIC ', 'ELECTRIC', 'I3',
       'I4 + ELECTRIC', 'HYBRID', '1.2L,4-CYLINDER,INLINE-4(I4)',
       '1.4L,4-CYLINDER,INLINE-4(I4)', '2.0L,4-CYLINDER,INLINE-4(I4)',
       '2.2L,4-CYLINDER,INLINE-4(I4)', '1.5L,4-CYLINDER,INLINE(I4)',
       '2.0L,4-CYLINDER,WITH HYBRID SYSTEM', '1.6L,TURBOCHARGED INLINE-3',
       '3.3L,V6,TWIN TURBO DIESEL', '3.5L,V6,HYBRID TWIN-TURBO',
       '2.0L,INLINE-4', 'HYDROGEN FUEL CELL,ELECTRIC MOTOR',
       '2.8L,TURBO,DIESEL', '2.5L,INLINE-4,HYBRID,OR 3.5L,V6',
       '2.0L HYBRID', '4.0L,DIESEL', '1.5L,HYBRID', '1.0L,INLINE-3',
       '3.5L,V6,PLUG IN HYBRID', '1.8L,HYBRID',
       '1.6L PETROL + PLUG IN HYBRID SYSTEM',
       '2.5L Turbocharged Inline-4', '1.6L PETROL ', '2.0L Inline-4',
       '2.5L Turbo Diese', 'Electric Motor', '2.5L Inline-4', '3.8L V6',
       '1.6L Inline-4', '3.3L V6', '1.6L Turbo GDI 4-cylinder',
       '1.5L Turbo I4 / Electric', '2.0L Turbo I4', '1.5L Turbo I4',
       '1.0L Turbo I3 / 1.6L Diesel', 'Electric',
       '3.0L V6 Turbo Diesel / 4.0L V8', '3.0L V6 Turbo Diesel',
       '4.0L V6', '2.0L Turbo Diesel I4', '1.0L Turbo I3',
       '1.0L Turbo I3 / 1.5L Turbo I4', 'Plug-in Hybrid V6',
       'Plug-in Hybrid / Diesel I4', '1.2L Diesel I3', 'Electric AWD',
       '1.5L Turbo I4 / 2.0L Diesel I4', '1.4L I3 Gas / 1.2L Diesel I3',
       '2.9L VR6', '3.0L V6 Diesel / 6.0L W12 Gas',
       '1.2L I4 Turbo / 2.0L I4 Turbo', '1.5L I4 Gas',
       '1.4L I4 Gas / 1.6L I4 Gas', '1.2L I4 Gas',
       '1.2L I4 Gas / 1.4L I4 Gas', '1.6L I4 Gas / Diesel',
       '1.6L I4 Gas / 1.9L I4 Diesel', '2.0L I4 Turbo / 3.6L V6 Gas',
       '1.5L I4 Turbo', '1.0L I3 Turbo', '1.0L I3 Turbo / 1.5L I4 Turbo',
       '2.0L I4 Turbo', '2.0L I4 Turbo Diesel',
       '1.4L I4 Diesel / 1.6L Diesel', 'Plug-in Hybrid (1.4L I4 Turbo)',
       '4.0L V8 Turbo Diesel', '1.4L I4 Turbo',
       '1.5L I4 Turbo / 2.0L Diesel', '1.8L I4 Gas', '3.2L VR6',
       '1.6L Diesel / 2.0L I4 Turbo', '2.0L Diesel I4',
       '1.6L Turbocharged Rally Engine', '1.4L I4 Turbo + Electric Motor',
       'Plug-in Hybrid (0.8L I2 Diesel)', '1.5L I4 CNG',
       '1.4L I4 Turbo / 2.0L Diesel I4',
       '3.0L V6 Turbo Diesel / Gasoline', '1.0L Turbocharged Inline-3',
       '5.6L V8', '1.3L Turbocharged Inline-4', '3.5L V6',
       '1.5L Turbocharged Inline-3', '3.0L Twin-Turbo V6',
       '1.8L Inline-4', '1.2L Inline-3 Hybrid', '1.5L Inline-4 Diesel',
       '3.8L Twin-Turbo V6', '3.7L V6', 'Dual Electric Motors',
       '1.2L Turbocharged Inline-4', '1.5L Inline-4', '1.2L Inline-3',
       '2.0L Inline-4 Hybrid', '3.0L V6 Twin-Turbo', '2.0L Inline-6',
       '2.5L V6', '4.8L Inline-6', '2.5L Inline-4 Hybrid',
       '1.5L Turbo Inline-3', '1.3L Turbo Hybrid Inline-4', '5.0L V8',
       '3.0L V6', '1.6L Turbo Inline-4', '2.4L Inline-4',
       '2.6L Twin-Turbo Inline-6', '2.0L VC-Turbo Inline-4',
       '2.5L Inline-4 Diesel', '2.3L Inline-4 Diesel', '1.4L Inline-4',
       '2.8L Inline-6 Diesel', '2.0L Turbo Inline-4',
       '2.7L Inline-4 Diesel', '1.5L Turbo Hybrid',
       '3.0L Twin-Turbo V6 Hybrid', '3.5L Twin-Turbo V8',
       '1.0L Turbo Inline-4', '3.0L Inline-4 Diesel', '660cc Inline-3',
       '1.5L Hybrid', '4.5L V8', '2.4L Inline-6', '1.2L Hybrid',
       '2.7L Turbo Diesel', '4.2L Inline-6', '4.1L V8', '3.0L V6 Turbo',
       '2.8L Inline-6', '1.8L Turbo Inline-4', '2.9L V6 Twin Turbo',
       '4.0L V8 Twin Turbo', '2.9L V6 + Electric Motor',
       '4.0L V8 + Electric Motor', '3.0L Flat-6 Twin Turbo',
       '3.0L Twin-Turbo Flat-6', '3.8L Twin-Turbo Flat-6',
       '4.0L Naturally Aspirated Flat-6', '2.0L Turbocharged Flat-4',
       '2.5L Turbocharged Flat-4', '2.0L Turbo Flat-4',
       '2.9L Twin-Turbo V6', '2.9L Twin-Turbo V6 + Electric Motor',
       '4.0L Twin-Turbo V8 + Electric Motor', '4.0L Twin-Turbo V8',
       '3.0L Turbocharged V6', '3.0L V6 + Electric Motor',
       '3.0L Turbo Diesel V6', '2.0L Turbo Inline-4 Gasoline',
       '2.7L Turbo Inline-4 Gasoline', '3.0L Twin-Turbo V6 Gasoline',
       '4.2L Naturally Aspirated Flat-6',
       '1.2L Revotron 3-cylinder Petrol', 'Permanent Magnet Synchronous',
       '1.2L Revotron Petrol / 1.5L Diesel', '1.2L Turbocharged Petrol',
       '1.2L Revotron Bi-Fuel', '624cc MPFI', '1.4L CR4 Diesel',
       '1.2L MPFI Petrol', '1.3L Quadrajet Diesel / 1.2L Revotron Petrol',
       '6.2L V8 Gasoline', '1.4L CR4 Diesel / 1.4L Petrol',
       '1.3L Quadrajet Diesel / 1.4L Petrol', '1.4L MPFI Petrol',
       '1.2L Turbo Petrol / 1.5L Diesel',
       '2.0L Kryotec Turbocharged Diesel', '1.2L Revotron Petrol',
       '2.2L Varicor Diesel', '2.2L Dicor Diesel', '3.0L CR4 Diesel',
       'Tri Electric Motors', 'Single Electric Motor (RWD)',
       'Dual Electric Motors (AWD)', 'Quad Electric Motors',
       '3.6L V6 Pentastar Gasoline', '2.0L Turbo I4 Gasoline',
       '2.4L I4 Tigershark Gasoline', '2.0L Turbo Gasoline',
       '1.3L Turbo I4 Gasoline', '5.7L V8 Gasoline with eTorque',
       '6.4L V8 Gasoline', '2.0L Turbo PHEV', '1.3L Turbo PHEV',
       '1.5L 4-Cylinder', '5.7L V8 Gasoline',
       '3.2L V6 Pentastar Gasoline', '6.4L V8 HEMI Gasoline',
       '3.6L V6 Gasoline', 'Single Electric Motor',
       '6.2L Supercharged V8 Gasoline', '3.6L Twin-Turbo V6 Gasoline',
       '1.4L Inline-4 Gasoline', '1.4L Turbo Inline-4 Gasoline',
       '1.5L Turbo Inline-4 Gasoline', '5.3L V8 Gasoline',
       '6.6L V8 Gasoline', '6.6L V8 Diesel',
       '1.3L Turbo Inline-3 Gasoline', '2.8L Turbo Diesel I4',
       '1.2L Turbo Inline-3 Gasoline', '4.3L V6 Gasoline',
       '2.5L Inline-4 Gasoline', '1.5L Turbo 4-cylinder',
       '2.0L Turbo 4-cylinder', '2.7L Turbo 4-cylinder',
       'Dual-Motor Electric', '3.6L V6 engine', '5.3L V8 engine',
       '2.7L Turbo engine', '6.6L V8 engine', '2.5L I4 engine',
       '6.2L V8 engine', '1.5L Turbocharged I4 engine',
       'Electric motors with up to 11,500 lb-ft torque', '4.3L V6 engine',
       'Electric motors with advanced AWD', '1.6L 4-Cylinder',
       '1.6L Turbocharged 4-Cylinder', 'Hybrid I4 + Electric Motor',
       '2.5L Turbocharged 4-Cylinder', '2.0L 4-Cylinder',
       '1.6L 4-Cylinder Hybrid', '1.6L Hybrid Turbocharged 4-Cylinder',
       '2.5L 4-Cylinder', '3.3L Turbocharged V6',
       '2.5L Hybrid Turbocharged 4-Cylinder', 'Hybrid I4+ Electric Motor',
       '8.0L Quad-Turbo W16', '13.0L I6 Turbo Diesel',
       '16.1L I6 Turbo Diesel', '12.8L I6 Turbo Diesel',
       '7.7L I6 Turbo Diesel', '5.1L I4 Turbo Diesel', 'V6 / V8 Petrol',
       'I4 Petrol', 'V6 Petrol', 'Electric (Dual Motor)',
       'I4 Petrol / V6 Petrol', 'V8 Petrol', 'I4 Petrol + Electric Motor',
       'Twin-Turbo V6 Hybrid', 'I4 Turbocharged', 'Inline-4', 'V6 Hybrid',
       'Inline-4 Hybrid', 'Inline-4 Turbocharged', 'Turbocharged I4',
       'Turbocharged V6', 'Diesel I4', 'Hybrid I4',
       '1.5L EcoBoost / 2.0L Hybrid', '3.5L V6 / 2.0L EcoBoost',
       '1.0L EcoBoost / 1.5L', '1.0L EcoBoost / 1.5L / 2.0L',
       '1.0L Turbo Inline-3 / 2.0L', '1.5L EcoBoost / 2.5L Hybrid',
       '2.0L EcoBoost / 2.7L V6', '2.3L EcoBoost / 3.0L V6',
       '3.5L EcoBoost / 5.4L V8', '2.3L EcoBoost / 2.7L V6',
       '1.5L EcoBoost / 2.0L EcoBoost',
       '3.3L V6 / 5.0L V8 / 3.5L EcoBoost',
       '6.2L V8 / 7.3L V8 / 6.7L Turbo-Diesel',
       '6.7L Turbo-Diesel / 7.3L V8', '2.5L Hybrid / 2.0L EcoBoost',
       '2.3L Turbo Inline-4 / 2.7L V6', '2.5L Inline-4 + Electric',
       '3.3L V6 + Electric', '3.5L Twin-Turbo V6', '2.3L Turbo Inline-4',
       '2.7L Twin-Turbo V6', 'Turbocharged Inline-3',
       'Turbocharged Inline-4', 'Naturally Aspirated V6',
       'EcoBlue Turbo Diesel', 'Inline-4 Gasoline Engine',
       'Turbocharged V8 Diesel', 'Supercharged V8',
       'Naturally Aspirated V8', 'V8 Gasoline Engine',
       'V6 Hybrid + Electric Motor', 'I4 Hybrid', 'I4 Turbo Diesel',
       'V6 EcoBoost', 'V6 Turbocharged', '1.2L MIVEC', '2.4L Hybrid',
       '1.5L Turbo', '2.0L MIVEC', '3.2L Diesel Turbo',
       '2.4L Diesel Turbo', '2.0L Turbocharged', '1.5L MIVEC',
       '2.2L Diesel Turbo', '1.1L / 1.5L MIVEC', '2.4L MIVEC',
       '1.6L MIVEC / 2.0L', '2.0L Diesel / 2.2L Diesel', '3.0L Diesel',
       '1.6L MIVEC', '2.4L PHEV', '7.5L Diesel', '3.0L Diesel Hybrid',
       '1.8L MIVEC', '0.7L 3-Cylinder', '2.4L Petrol', '2.4L 4-Cylinder',
       '1.5L Turbocharged', '2.0L SkyActiv-G', '2.5L SkyActiv-G',
       '2.5L Turbocharged', '2.2L Diesel', '3.3L Inline-6 Turbo',
       '2.3L Turbocharged', '2.5L Diesel', '3.2L Turbo Diesel',
       '1.3L Rotary Twin-Turbo', '1.2L Rotary', 'Rotary SkyActiv-R',
       '1.5L SkyActiv-G', '2.3L Miller Cycle V6', '2.0L Twin-Rotor Turbo',
       '1.3L Rotary', '1.8L Rotary', '657cc Turbocharged Inline-3',
       '2.6L Inline-4', '3.0L Inline-4', '3.0L Inline-6', '1.3L Inline-4',
       '1.2L Inline-4', '1.3L Inline-2 (Wankel)',
       '1.6L Inline-2 (Wankel)', '1.0L Inline-2 (Wankel)',
       '1.3L Wankel + Electric', '0.36L Inline-2', '0.66L Inline-3',
       '1.3L Wankel Rotary Engine', '2.6L Wankel Rotary Engine',
       '2.5L Hybrid I4', '2.4L Turbo I4 (i-FORCE MAX Hybrid)',
       '2.0L Gas / 2.0L Hybrid', '1.8L / 2.0L Hybrid',
       '2.5L Hybrid / Plug-in Hybrid', '3.0L Turbo V6',
       '4.0L Twin-Turbo V8 Hybrid', '2.5L Turbo I5',
       '6.0L W12 Twin-Turbo', '3.0L Twin-Turbo I6', '8.0L W16 Quad-Turbo',
       '6.2L Supercharged V8', '6.2L V8 Hybrid', '1.2L Turbo I3',
       '1.6L Turbo I4 PHEV', '1.3L Turbo I4', '1.6L Hybrid I4',
       '3.0L V6 Plug-In Hybrid', '6.5L V12', '3.5L Twin-Turbo V6 Hybrid',
       '2.0L Hybrid I4', '1.6L Turbo I4', '1.6L Turbo Hybrid',
       '5.0L Supercharged V8', '6.5L V12 Plug-In Hybrid', '5.2L V10',
       '3.0L Turbo I6 Mild Hybrid', '3.0L Turbo I6 PHEV',
       '3.4L Twin-Turbo V6', 'Triple Electric Motors',
       'Rotary Range-Extender EV', '2.5L I4 Plug-In Hybrid',
       '2.0L Turbo Hybrid I4', '1.5L e-POWER Hybrid', '1.6L Turbo PHEV',
       '4.0L Twin-Turbo V8 PHEV', '1.2L Turbo Hybrid', '1.4L Turbo PHEV',
       '2.0L Boxer Hybrid', '2.5L PHEV I4', '1.5L Hybrid I4',
       '2.0L Plug-In Hybrid', '2.4L Turbo Hybrid', '2.5L I4 Hybrid',
       '1.8L Turbo I4', '4.4L Twin-Turbo V8', '4.0L V8 Plug-In Hybrid',
       '1.0L Turbo Hybrid', '3.3L Twin-Turbo V6', '1.5L Turbo PHEV',
       '3.3L Turbo I6', '1.2L Hybrid I3', '2.5L Turbo Boxer-4',
       '1.4L Turbo Hybrid', '1.6L Turbo I3', '3.0L Turbo I6',
       '2.5L Turbo I4', '2.5L Boxer-4', nan], dtype=object)

In [25]:
df["CC / Batt.Capacidad "].unique()

array(['3990cc', '6749cc', '1,200cc', '3,982cc', '5,204cc', '3,994cc',
       '3,996cc', '6,498cc', '3900 cm3', '6496cc', '3,900cc', '6,496cc',
       '2,998cc', '1,998cc', '2,387cc', '5,663cc', '5663CC', '3,799cc',
       '3,696cc', nan, '3,498cc', '2,488cc', '5,598cc', '3996 cc',
       '5,935cc', '3996 cm3', '649,8 cc', '5204 cc', '3,998cc', '6,592cc',
       '6,749cc', '6592 cc', '6749 cc', '1991cc', 'desconocido',
       '2,996cc', '2996 cm3', '199,1 cc', '1,991cc', '299,6 cc',
       '5,980cc', '439,5 cc', '2,993cc', '4,935cc', '2993CC', '4,395cc',
       '3,993cc', '3993 cm3', '2,995cc', '2995CC', '1,984cc', '95kwh',
       '1998CC', '1,499cc', '1,496cc', '1,995cc', '1,598cc', '1,969cc',
       '2,480cc', '1,996cc', '1,600cc/13.8kwh', '1,498cc',
       '1,600cc/1.49kwh', '1,598cc/13.8kwh', '1998 cc', '3,471cc',
       '3,500cc', '1,798cc', '2,494cc', '345,6 cc', '3956 cc', '2,694cc',
       '3,456cc', '3,956cc', '1,986cc',
       '64.8kwh(BaseModel),72.8kwh(HigherEndModel', '1,497cc', '1,197cc',
       '1,396cc', '1,999cc', '2179 cm3', '2,179cc', '1,997cc', '1462 cm3',
       '1,618cc', '3,346cc', '3,445cc', '1,987cc', '1.24kwh', '2,755cc',
       'HYBRID(2,494cc),V6(3,456cc)', '4,009cc', '1,490cc', '998cc',
       '75KWH', '65KWH', '1,600cc', '72.6KWH', '2,500cc', '1,591cc',
       '200,0 cc', '53677,4 cc', '3,800cc', '250,0 cc', '39.2kwh',
       '2,000cc', '156 cm3', '3,300cc', '1498cc/40-58kWh', '1984cc',
       '1498cc', '999cc/1598cc', '77kWh', '32,3 cc', '2967cc/3956cc',
       '2967cc', '3954 cc', '5877 cm3', '198,4 cc', '1968cc', '99,9 cc',
       '999cc/1498cc', '2995cc', '1395cc/1968cc', '1199cc', '58kWh',
       '1498cc/1968cc', '1390cc/1199cc', '2861cc', '2967cc/5998cc',
       '1197cc/1984cc', '13901598 cm3', '1192cc', '1198cc/1390cc',
       '1598cc', '35.8kWh', '1598cc/1896cc', '1984cc/3597cc', '999cc',
       '1984 cc', '296,7 cc', '~50kWh(Estimate)', '1390cc/1598cc',
       '1395cc+ElectricMotor', '3956cc', '1395cc', '1781cc', '3189cc',
       '1598cc/1984cc', '77CC', '800cc+ElectricMotor', '1498196,8 cc',
       '1498CC', '1984CC', '1984 cm3', '1395cc+Battery', '32.3kWh',
       '3996cc', '5552 cm3', '1332cc', '3498cc', '5552cc', '1598CC',
       '2997cc', '1198cc', '1798cc', '999CC', '1461cc', '3954cc',
       '3799cc', '87kWh', '5552CC', '1997cc', '3696cc', '5552 cc',
       '1998cc', '2498cc', '1796cc', '4750cc', '2488 cm3', '1497cc',
       '5026cc', '1838cc', '2960 cc', '2438cc', '555,2 cc', '2568cc',
       '2488cc', '2298cc', '1397cc', '2825cc', '3498CC', '2664cc',
       '3000cc', '3696 cc', '1595cc', '2960cc', '3495cc', '987cc',
       '2389cc', '2999cc', '659cc', '1770cc', '1597cc', '4494cc',
       '2393cc', '1198 cc', '1769cc', '2663cc', '4169cc', '3275cc',
       '4130CC', '2753cc', '1809cc', '1839cc', '2953cc', '2894cc',
       '2894 cm3', '17.9kWhBattery', '2981cc', '2981CC', '3745cc',
       '79.2kWh', '93.4kWh', '1988cc', '2497cc', '3995cc', '95kWh',
       '2995 cm3', '2000 cc', '2700cc', '2000cc', '934CC', '2981 cm3',
       '3745 cm3', '4194cc', '24kWh', '1199cc/1497cc', '624cc', '1396 cc',
       '1193cc', '26kWh', '12481199 cm3', '1396cc', '6200cc', '40.5kWh',
       '1956cc', '2179cc', '2956cc', '30.2kWh', '100kWh', '6,0 cc',
       '82kWh', '100CC', '75kWh', '200kWh', '3600cc', '2400cc', '1300cc',
       '5700cc', '6400cc', '17.3kWh', '11.4kWh', '1,500cc', '3600 cc',
       '3200cc', '10,0 cc', '1400cc', '1500cc', '5300cc', '5300CC',
       '6600cc', '66 cm3', '66kWh', '2800cc', '1200cc', '660,0 cc',
       '4300cc', '140,0 cc', '360,0 cc', '2500cc', '6200CC', '212kWh',
       '2700 cc', '270,0 cc', '3,564cc', '5,327cc', '532,7 cc', '2,713cc',
       '6,600cc', '6,162cc', '3564 cm3', '6162 cm3', '3564 cc', '4,300cc',
       '200 cm3', '1591cc', '1,599cc(petrol)+ElectricMotor', '3778cc',
       '1999cc', '77.4kWh', '1591CC', '3500cc', '3778CC',
       '1,598cc(petrol)+ElectricMotor', '199,9 cc', '3300cc', '774 cc',
       '50kWh', '7993cc', '7993 cc', '13000cc', '16100cc', '12800cc',
       '12800CC', '7700cc', '5100cc', '2995cc(V6)', '1999cc(I4)',
       '90kWh(Battery)', '1999429956 cm3', '1998cc(I4)',
       '1999cc(I4)/2995cc(V6)', '5000cc(V8)', '1999cc(I4)+Electric',
       '3,493cc(V6)', '3,500cc(V6)', '1,500cc(I4)', '2,400cc(I4)',
       '2,400cc', '3,493cc', '350,0 cc', '3,000cc', '1,199cc', '1,560cc',
       '2,200cc', '-', '1499CC', '1199 cc', '1199CC', '15002000 cc',
       '2,000-3,500cc', '1,000-1,500cc', '1,000-2,000cc', '1,500-2,500cc',
       '2,000-2,700cc', '2,300-3,000cc', '3,500-5,400cc', '2,300-2,700cc',
       '1,500-2,000cc', '3,300-5,000cc', '6,200-7,300cc', '6,700-7,300cc',
       '2,500-2,000cc', 'Battery(68-98kWh)', 'Battery(98kWh)', '330,0 cc',
       '5000CC', '2,300cc', '1,000cc', '2000 cm3', '6,700cc', '5,200cc',
       '7,300cc', '89kWh(Electric)', '3,000cc(petrol)+ElectricMotor',
       '2,500cc(petrol)+ElectricMotor', '5,000cc', '2,700cc',
       '2,400cc/20kWhbattery', '3,200cc', '16kWhbattery', '1,100-1,500cc',
       '2500CC', '240,0 cc', '1,600-2,000cc', '2000CC', '2,000-2,200cc',
       '160,0 cc', '7,500cc', '1,800cc', '660cc', '660 cm3', '2500 cc',
       '35.5kWhbattery', '1,300cc', '130,0 cc', '657cc', '2,600cc',
       '1308CC', '1,588cc', '1,308cc', '1,590cc', '360CC', '1,298cc',
       '1798CC', '199,8 cc', '2,620cc', '2487cc', '2393cc+Battery',
       '1987cc/Hybridbatt', '1798/1987cc+batt', '2487cc+batt', '2891cc',
       '1996cc', '3982cc', '4000cc+Battery', '2480cc', '399,6 cc',
       '106 cm3', '5998cc', '2993 cm3', '2993cc', '83.9kWh', '101.7kWh',
       '60kWh', '86kWh', '102kWh', '6162cc', '6162CC', '6157cc+Battery',
       '1598cc+Battery', '1330cc', '118kWh', '2992cc+Battery', '91kWh',
       '131 cc', '3470cc+Battery', '1993cc+Battery', '68.8kWh', '5000cc',
       '1995cc+Battery', '5,4 cc', '6498cc+Battery', '5204cc', '2996cc',
       '2996cc+Battery', '71.4kWh', '3445cc', '830cc+Battery',
       '2488cc+Battery', '1991cc+Battery', '54kWh', '1497cc+Battery',
       '111CC', '3996cc+Battery', '1199cc+Battery', '1395CC', '1995CC',
       '2487cc+Battery', '1462cc+Battery', '123kWh', '69kWh', '111kWh',
       '2998 cm3', '4395cc', '85kWh', '1498cc+Battery', '50 cm3',
       '27.4kWh', '6166cc', '3990cc+Battery', '999cc+Battery', '3470cc',
       '3342cc', '4969cc', '120kWh', '92.5kWh', '3283cc', '54 cm3',
       '54CC', '103kWh', '2457cc', '1373cc+Battery', '1618CC',
       '1969cc+Battery', '2998cc', '2497 cm3', '1332 cc',
       '1998cc+Battery', '1969cc', '1496cc'], dtype=object)

In [26]:
df[" Horse Power(HP)! "].unique()

array(['963hp', '563-hp', '70-85hp', '630hp', '602hp', '710 hp', '656hp',
       '550hp', '750hp', nan, '592hp', '612hp', '789hp', '710hp', '382HP',
       '205hp', '228hp', '381hp', '600hp', '332hp', '400hp', '300hp',
       '149hp', '201hp', '284hp', '310hp', '1160hp', '1000hp', '715hp',
       '503hp', '542hp', '580hp', '540hp', '836hp', '819hp', '759hp',
       '640hp', '740hp', '641hp', '610hp', '700hp', '769hp', '671hp',
       '610 hp', '591hp', '624hp', '563hp', '591 hp', '624 hp', '624HP',
       '563 hp', '496hp', '603hp', '429hp', '362hp', '402hp', '255hp',
       '382hp', '751hp', '627hp', '493hp', '444hp', '523hp', '623hp',
       '335hp', '349hp', '306hp', '248hp', '335HP', '335-hp', '248HP',
       '369hp', '523 hp', '136hp', '261hp', '302hp', '116-hp', '190hp',
       '109hp', '150hp', '178hp', '224hp', '95hp', '102hp', '136HP',
       '116hp', '163hp', '247hp', '295hp', '187hp', '240hp', '315HP',
       '192hp', '227hp', '180hp', '301hp', '139hp', '121hp', '203hp',
       '270hp', '159hp', '151hp', '245hp', '219hp', '282hp', '344hp',
       '144hp', '218hp', '236hp', '168hp', '140hp', '119hp', '158hp',
       '87hp', '99hp', '147hp', '155hp', '83-hp', '103hp', '220hp',
       '305hp', '437hp', '152hp', '296hp', '204hp', '184hp', '134hp',
       '114hp', '71hp', '406hp', '241hp', '268hp', '253hp', '225hp',
       '281hp', '2488cc', '320hp', '291hp', '191hp', '120hp', '200hp',
       '275hp', '161hp', '278hp', '160hp', '110-320hp', '150-230hp',
       '150-228hp', '80-200hp', '150-280hp', '201-302hp', '82hp',
       '231-500hp', '125-280hp', '105-210hp', '163-258hp', '115-300hp',
       '150-220hp', '102-150hp', '261HP', '95-150hp', '150HP', '315hp',
       '190-240hp', '115hp', '174-299hp', '462hp', '150-218hp', '75-95hp',
       '147-200hp', '280hp', '184-230hp', '190-320hp', '299hp',
       '130-150hp', '102-177hp', '60-75hp', '240-450hp', '110hp',
       '85-105hp', '34-60hp', '55-75hp', '105-110hp', '100-150hp',
       '235-276hp', '158-hp', '82-115hp', '115-150hp', '200-280hp',
       '184-hp', '204-258hp', '170HP', '75-105hp', '421hp', '98hp',
       '150-320hp', '120-240hp', '137hp', '272hp', '170hp', '150-200hp',
       '68hp', '150-184hp', '150-240hp', '190-280hp', '130hp',
       '122-150hp', '61hp', '290hp', '190-230hp', '174hp', '150-hp',
       '147-hp', '207HP', '231-340hp', '83hp', '310-340hp', '265hp',
       '122HP', '100HP', '400HP', '156HP', '260HP', '201HP', '137HP',
       '109HP', '118HP', '122 hp', '117HP', '110HP', '600HP', '332HP',
       '389HP', '126HP', '115HP', '102HP', '133HP', '79HP', '141HP',
       '179HP', '284HP', '104HP', '720HP', '350HP', '428HP', '300HP',
       '140HP', '210HP', '120HP', '280HP', '250HP', '190HP', '158HP',
       '420HP', '390HP', '125HP', '276HP', '129HP', '400 hp', '85HP',
       '130HP', '67HP', '94HP', '247HP', '105HP', '204HP', '500HP',
       '328HP', '96HP', '200HP', '550HP', '76HP', '134HP', '48HP',
       '131HP', '138HP', '205HP', '187HP', '565HP', '325HP', '151HP',
       '135HP', '127HP', '230HP', '114HP', '155HP', '270HP', '255HP',
       '340HP', '145HP', '175HP', '140 hp', '375HP', '330HP', '440HP',
       '473HP', '455HP', '690HP', '434HP', '541HP', '453HP', '670HP',
       '434 hp', '379HP', '443hp', '379hp', '572hp', '640-hp', '473hp',
       '522hp', '670hp', '590hp', '469hp', '509hp', '350hp', '414hp',
       '300 hp', '394hp', '325hp', '690hp', '560hp', '570hp', '375hp',
       '434hp', '455 hp', '631hp', '453hp', '262hp', '380hp', '728hp',
       '321hp', '237hp', '325 hp', '360hp', '379 hp', '502hp', '525hp',
       '473-hp', '607hp', '700 hp', '510hp', '500hp', '515hp', '86hp',
       '74hp', '86 hp', '37hp', '70hp', '65hp', '75hp/90hp', '70-hp',
       '420hp', '70hp/85hp', '118hp/110hp', '143hp', '138hp', '85hp',
       '118hp', '129hp', '1,020hp', '283hp', '450hp', '346hp', '384hp',
       '800hp', '1288 hp', '285hp', '293-hp', '293hp', '177hp', '392hp',
       '471hp', '240-hp', '108hp', '285 hp', '271hp', '470HP', '235-hp',
       '310 hp', '340hp', '682hp', '668hp', '472hp', '235hp', '500 hp',
       '495hp', '355hp', '401hp', '445hp', '200-hp', '250hp', '650hp',
       '181hp', '308-hp', '455hp', '460hp', '308hp', '285-hp', '193hp',
       '175hp', '401-hp', '625hp', 'Upto830hp', 'Upto1,000hp', '420 hp',
       '830 hp', 'Upto754hp', '277hp', '139-hp', '146hp', '180-hp',
       '365hp', '577hp', '1500hp', '1600hp', '1850hp', '750 hp', '500-hp',
       '250 hp', '250hp/340hp', '575hp', '200 hp', '246hp', '250-hp',
       '398hp', '206hp', '201-hp', '537hp', '100hp', '165hp', '75hp',
       '208hp', '160-250hp', '200-365hp', '85-200hp', '120-300hp',
       '123-166hp', '181-200hp', '250-335hp', '300-400hp', '375-400hp',
       '275-310hp', '181-250hp', '290-450hp', '385-475hp', '450-475hp',
       '191HP', '270-325hp', '290-480hp', '452hp', '318-hp', '660hp',
       '123hp', '162hp', '475hp', '760hp', '526hp', '440hp', '130-hp',
       '266hp', '457hp', '210hp', '221hp', '78hp', '78-hp', '248 hp',
       '148hp', '189hp', '181HP', '66hp', '145hp', '117-148hp', '105hp',
       '188hp', '52hp', '64hp', '135hp', '154hp', '48hp', '186hp',
       '256HP', '181 hp', '244hp', '276 hp', '400hp(est.)', '63hp',
       '63 hp', '54hp', '113hp', '164hp', '125hp', '60hp', '26hp',
       '326hp', '169-196hp', '140-198hp', '219-302hp', '671 hp', '937hp',
       '626hp', '543hp', '536hp', '544hp', '1578hp', '655HP', '664hp',
       '557hp', '390hp', '231HP', '670 hp', '288hp', '819 hp', '480hp',
       '409hp', '198hp', '230hp', '156 hp', '1001hp', '309hp', '1234hp',
       '430hp', '621hp', '327hp', '313hp', '213hp', '156hp', '517hp',
       '680HP', '218-hp', '510-hp', '845hp', '428 hp', '279hp', '483 hp',
       '635hp', '215hp', '310-hp', '807hp', '1016hp', '828hp', '292hp',
       '170-hp', '286hp', '550-hp', '368hp', '518hp', '729hp', '204 hp',
       '333hp', '260hp', '256hp', '380HP', '185hp'], dtype=object)

In [27]:
df["velocidad max kmh "].unique()

array(['340km/h', '250km/h', '165km/h', '320km/h', '341km/h', '314km/h',
       '318km/h', '356km/h', nan, '226km/h', '220 Km/h', '200km/h',
       '315km/h', '290km/h', '225km/h', '240km/h', '402km/h', '362km/h',
       '322km/h', '313km/h', '291km/h', '328km/h', '324km/h', '350km/h',
       '325 Km/h', '325km/h', '350 Km/h', '305km/h', '355km/h', '250',
       '250 Km/h', '250 KMH', '250 kmh', '285km/h', '280km/h', '330km/h',
       '240 Km/h', '230km/h', '213km/h', '216km/h', '185km/h', '195km/h',
       '211km/h', '230 KMH', '200 kmh', '220km/h', '210km/h', '272km/h',
       '180km/h', '201km/h', '200 Km/h', '210 Km/h', '186km/h', '209km/h',
       '180 KMH', '190km/h', '200', '160km/h', '230 kmh', '170km/h',
       '175km/h', '130km/h', '215km/h', '140km/h', '185 KMH', '235km/h',
       '233km/h', '205km/h', '183km/h', '145km/h', '238km/h', '196km/h',
       '190 KMH', '217km/h', '138km/h', '148km/h', '193km/h', '205 kmh',
       '191km/h', '246km/h', '187km/h', '200 KMH', '205 Km/h', '237km/h',
       '170 KMH', '168km/h', '330', '270km/h', '170', '180 Km/h',
       '155km/h', '354 Km/h', '110km/h', '160 kmh', '170 kmh', '150km/h',
       '289km/h', '300km/h', '245 Km/h', '245km/h', '265km/h', '286km/h',
       '295km/h', '232km/h', '259km/h', '308km/h', '306km/h', '296 kmh',
       '260km/h', '275km/h', '285 kmh', '293km/h', '301km/h', '310km/h',
       '253km/h', '263km/h', '221km/h', '242km/h', '260', '304km/h',
       '311km/h', '307km/h', '296km/h', '240 KMH', '120km/h', '105km/h',
       '162km/h', '125km/h', '261 KMH', '262km/h', '177km/h', '312km/h',
       '150 kmh', '180 kmh', '190 Km/h', '190 kmh', '210', '420km/h',
       '380km/h', '100km/h', '90km/h', '80km/h', '283km/h', '280',
       '210 kmh', '348km/h', '190', '170 Km/h', '240 kmh', '175 Km/h',
       '204km/h', '220 KMH', '210 KMH', '300km/h(est.)', '180', '240',
       '155 kmh', '185 Km/h', '85km/h', '283 Km/h', '333km/h', '290',
       '335km/h', '285', '500km/h', '177 KMH', '260 Km/h', '242', '225',
       '261km/h', '177 Km/h', '125 kmh', '255km/h', '400km/h', '215 KMH'],
      dtype=object)

In [28]:
df["0_100 km/h  (seg) "].unique()

array(['2.5 sec', '5.3 sec', '10.5 sec', '3.2 sec', '3.6 sec', '2.9 sec',
       '4.0 sec', '3.4 sec', '4.1 sec', '6.4 sec', '5.6 sec', '6.7 sec',
       '6.9 sec', '4.7 sec', '7.3 sec', '5.8 sec', '8.2 sec', '7.5 sec',
       '6.5 sec', '6.8 sec', '5.9 sec', '3.9 sec', '4.5 sec', '4.2 sec',
       '2.8 sec', '3.0 sec', '3.1 sec', '3.3 sec', '4.8 sec', '4.4 sec',
       '4.9 sec', '5.2 sec', '4.3 sec', '5.1 sec', '5.5 sec', '5.7 sec',
       ' 6.1 sec', '6.1 sec', '3.7 sec', '3.5 sec', '5.4 sec', '6.3 sec',
       '3.8 sec', '8.5 sec', '10.3 sec', '10.9 sec', '8.4 sec',
       '7.1  sec', '12.2 sec', '11.2 sec', '8.9 sec', '7.1 sec',
       '7.7 sec', '7.2 sec', '8.0 sec', '8.3 sec', '7.9 sec', '8.1 sec',
       '6.0 sec', '9.4 sec', '9.5 sec', '9.2 sec', '6.2 sec', '10.2 sec',
       '7.6 sec', '11.5 sec', '5. 0 sec', '9.0 sec', '10.0 sec', nan,
       '11 sec', '14.8 sec', '13.5 sec', '9.3 sec', '7.4 sec',
       '10. 5 sec', '14.0 sec', '8 sec', '9.8 sec', '6 sec', '7.8 sec',
       '13.0 sec', '7.0 sec', '4.6 sec', '8.8 sec', '14.3 sec',
       '12.9 sec', '10.8 sec', '23.0 sec', '17.5 sec', '11.7 sec',
       '10.4 sec', '8.6 sec', '12.4 sec', '9.6 sec', '9.9 sec', '8.7 sec',
       '12.0 sec', '11.9 sec', '14.5 sec', '10.7 sec', '11.0 sec',
       '10.6 sec', '6.6 sec', '10.1 sec', '13.7 sec', '12.5 sec',
       '5.0 sec', '15.0 sec', '12.3 sec', '12.8 sec', '18.0 sec',
       '18.5 sec', '13.8 sec', '3.5', '4.2', '3.4', '4.4', '2.7', '2.6',
       '3.2', '5.4', '4', '2.8', '4.8', '4.1', '4.9', '4.7', '4.3', '5.6',
       '5.5', '3.7', '3.9', '3.8', '6.4', '6.2', '4.6', '5.9', '3.3',
       '5.8', '3.6', '4.5', '7.3', '6.5', '2.7 sec', '13 sec', '12 sec',
       '10 sec', '29 sec', '16 sec', '15 sec', '16.5 sec', '17 sec',
       '14 sec', '9 sec', '17.6 sec', '2.1 sec', '2.6 sec', '1.9 sec',
       '9.1 sec', '2.3 sec', '2.4 sec', '2.2 sec', '16.0 sec', '17.0 sec',
       '20.0 sec', '22.0 sec', '7.2 sec / 5.4 sec', '9.7 sec',
       '5.0 - 6.5 sec', '6.5 - 7.0 sec', '7.0 - 8.0 sec', '6.5 - 8.0 sec',
       '6.0 - 7.0 sec', '3.5 sec (GT Model)', '9.0 - 12.0 sec',
       '15.5 sec', '35.0 sec', '8.0 - 9.2 sec', '7.9 - 10.5 sec',
       '6.0 - 8.1 sec', '12.7 sec'], dtype=object)

In [29]:
df["Precio $$ coche"].unique()

array(['$1,100,000 ', '$460,000 ', '$12,000-$15,000', '$161,000 ',
       '$253,290 ', '$499,000 ', '$193,440 ', '$311,000 ', '$4,500,000 ',
       '$280,000 ', '$350,000 ', '$210,000 ', '$230,000 ', '$1,700,000 ',
       '$220,000 ', '$240,000 ', '$53,900 ', '$27,000 ', '$30,000 ',
       '$85,000 ', '$50,000 ', '$113,000 ', '$40,000 ', '$25,000 ',
       '$35,000 ', '$20,000 ', '$28,000 ', '3.200.000€', '??',
       '$316,000 ', '$208,000 ', '$142,000 ', '$189,000 ', nan,
       '$294,000 ', '$1,300,000 ', '$2,800,000 ', '$518,000 ', '274.000€',
       '$261,000 ', '$493,000 ', '$211,000 ', '$287,000 ', '$445,000 ',
       '$308,000 ', '$421,000 ', '$242,000 ', '$545,000 ', '$258,000 ',
       '$573,000 ', '$263,000 ', '$327,000 ', '$603,000 ', '$253,000 ',
       '332.000€', '$330,000 ', '$360,000 ', '$325,000 ', '$500,000 ',
       '$390,000 ', '$450,000 ', '$340,000 ', '$320,000 ', '$116,000 ',
       '$53,000 ', '109.000€', '$62,000 ', '$99,000 ', '$63,000 ',
       '$52,000 ', '$49,000 ', '$54,000 ', '$48,000 ', '$46,000 ',
       '$71,000 ', '$90,000 ', '$102,000 ', '$200,000 ', '$133,000 ',
       '$76,000 ', '83.000€', '$114,000 ', '$69,000 ', '$146,000 ',
       '$398,000 ', '$381,000 ', '$475,000 ', '$335,000 ', '$349,000 ',
       '$495,000 ', '$355,000 ', '$369,000 ', '$418,000 ', '$401,000 ',
       '$515,000 ', '$375,000 ', '$389,000 ', '$439,000 ', '$194,000 ',
       '$101,000 ', '$109,000 ', '$96,000 ', '$86,000 ', '$64,000 ',
       '62.000€', '$60,000 ', '$43,000 ', '68.000€', '$58,000 ',
       '$45,000 ', '$39,000 ', '$75,000 ', '$78,000 ', '$165,000 ',
       '$57,000 ', '$81,000 ', '$32,000 ', '$42,000 ', '$38,000 ',
       '$34,000 ', '$37,000 ', '$26,000 ', '$44,000 ', '34.000€',
       '$29,000 ', '$31,000 ', '$36,000 ', '35.000€', '$55,000 ',
       '32.000€', '36.000€', '$33,000 ', '$32,500 ', '$29,400 ',
       '$26,500 ', '$26,350 ', '22.500€', '$26,700 ', '$38,400 ',
       '$37,400 ', '$39,900 ', '$41,400 ', '$52,400 ', '$44,150 ',
       '33.400€', '$40,400 ', '$49,400 ', '$43,400 ', '$18,400 ',
       '29.000€', '25.000€', '$15,400 ', '$20,400 ', '$12,400 ',
       '$16,400 ', '$10,400 ', '$14,400 ', '$31,100 ', '$36,995 ',
       '$58,500 ', '$56,000 ', '$25,390 ', '$49,500 ', '$70,000 ',
       '$18,000 ', '$170,000 ', '$24,000 ', '$41,000 ', '$40,799 ',
       '$20,500 ', '$19,950 ', '$41,450 ', '$30,500 ', '$15,000 ',
       '55.000€', '$19,000 ', '$22,000 ', '$23,000 ', '$21,995 ',
       '$39,735 ', '33.000€', '$59,995 ', '$44,640 ', '30.000€',
       '85.000€', '$14,000 ', '$12,000 ', '70.000€', '$150,000 ',
       '40.000€', '45.000€', '$16,700 ', '$15,500 ', '$77,000 ',
       '51.000€', '20.000€', '$14,500 ', '$16,000 ', '$41,820 ',
       '$70,600 ', '13.000€', '$18,500 ', '$24,960 ', '$28,500 ',
       '$42,820 ', '45.790€', '$105,000 ', '41.750€', '$42,500 ',
       '$175,000 ', '$98,000 ', '$61,750 ', '$95,000 ', '$185,000 ',
       '48.000€', '$67,000 ', '14.000€', '$47,000 ', '$68,000 ',
       '$10,000 ', '12.000€', '10.000€', '$88,000 ', '$92,000 ',
       '$180,000 ', '130.000€', '115.000€', '$120,000 ', '$190,000 ',
       '$110,000 ', '65.000€', '$131,300 ', '$106,500 ', '$113,300 ',
       '$121,300 ', '$197,200 ', '$161,100 ', '$241,300 ', '$222,000 ',
       '$86,700 ', '$103,800 ', '$150,900 ', '$132,750 ', '$97,700 ',
       '$63,400 ', '$75,400 ', '$100,200 ', '$141,700 ', '$65,500 ',
       '$69,600 ', '$98,300 ', '$92,300 ', '$101,400 ', '$200,200 ',
       '$128,900 ', '$136,900 ', '$175,200 ', '$290,000 ', '$70,400 ',
       '$82,900 ', '$72,200 ', '$91,000 ', '$94,300 ', '$182,150 ',
       '$79,000 ', '$167,800 ', '$85,500 ', '$182,900 ', '$34,395 ',
       '$46,595 ', '$38,195 ', '$50,995 ', '$94,800 ', '$139,400 ',
       '$136,700 ', '$106,100 ', '$129,900 ', '$137,000 ', '$157,300 ',
       '$207,000 ', '$223,800 ', '$135,500 ', '$293,200 ', '$245,000 ',
       '$750,000 ', '$191,300 ', '$233,000 ', '$8,200 ', '$11,000 ',
       '$11,300 ', '$11,800 ', '$4,000 ', '$6,200 ', '$5,000 ', '$9,400 ',
       '$8,700 ', '$6,500 ', '$8,300 ', '$9,000 ', '$7,000 ', '$7,200 ',
       '$82,295 ', '$25,500 ', '$10,500 ', '15.000€', '11.000€',
       '$88,490 ', '$108,490 ', '$40,240 ', '$53,240 ', '$113,490 ',
       '69.900€', '$35,195 ', '$42,100 ', '$41,530 ', '$43,530 ',
       '$37,695 ', '$31,590 ', '$28,345 ', '$63,595 ', '$91,495 ',
       '$59,865 ', '$50,695 ', '$46,500 ', '$44,500 ', '$17,000-$20,000',
       '$80,000 ', '$51,570 ', '$66,575 ', '$41,295 ', '$82,495 ',
       '$37,490 ', '$44,195 ', '$48,595 ', '$58,590 ', '$149,990 ',
       '$104,595 ', '60.495€', '$41,390 ', '$51,095 ', '$59,990 ',
       '$64,990 ', '$41,290 ', '$14,595 ', '$16,720 ', '$26,400 ',
       '$65,895 ', '$35,915 ', '$26,600 ', '$56,995 ', '$59,900 ',
       '$30,695 ', '42.795€', '$41,500 ', '$45,500 ', '$27,495 ',
       '$23,100 ', '$33,500 ', '$67,300 ', '$61,595 ', '$55,895 ',
       '$48,295 ', '$33,400 ', '$48,900 ', '$43,500 ', '$43,700 ',
       '$25,800 ', '$17,595 ', '$75,700 ', '$29,200 ', '82.400€',
       '$33,900 ', '$14,395 ', '$37,200 ', '$36,100 ', '$34,900 ',
       '$56,400 ', '64.100€', '$31,700 ', '$62,495 ', '$64,100 ',
       '$71,600 ', '$76,700 ', '$29,900 ', '$36,800 ', '$57,400 ',
       '36.900€', '$37,100 ', '$43,900 ', '$108,700 ', '$105,600 ',
       '$72,800 ', '$66,800 ', '$36,500 ', '$53,800 ', '$93,800 ',
       '$54,300 ', '$71,505 ', '$73,305 ', '52.000€', '$72,000 ',
       '$36,300 ', '80.000€', '$82,000 ', '$28,700 ', '96.550€',
       '$96,550 ', '$65,000 ', '$76,805 ', '50.000€', '$37,700 ',
       '$17,000 ', '28.000€', '28.500€', '42.500€', '$51,000 ',
       '$23,500 ', '$39,500 ', '46.000€', '$51,500 ', '$34,500 ',
       '$22,500 ', '$17,500 ', '$3,000,000 ', '$3,300,000 ', '3.300.000€',
       '$9,000,000 ', '$18,000,000 ', '$5,000,000 ', '$160,000 ',
       '$100,000 ', '$125,000 ', '$55,000 / $65,000', '$157,000 ',
       '23.500€', '$35,500 ', '$25,000 - $40,000', '$15,000 - $25,000',
       '$20,000 - $30,000', '$12,000 - $15,000', '$20,000 - $25,000',
       '$25,000 - $38,000', '$35,000 - $55,000', '$30,000 - $55,000',
       '$26,000 - $38,000', '$35,000 - $75,000', '40.00070.000€',
       '$22,000 - $30,000', '$25,000 - $45,000', '$43,000 - $61,000',
       '$40,000 - $90,000', '$28,000 - $38,000', '$43,455 ', '$29,365 ',
       '$61,625 ', '$64,540 ', '$79,420 ', '$59,140 ', '$84,910 ',
       '$56,505 ', '$79,560 ', '$17,000 - $19,000', '$28,000 - $35,000',
       '$39,000 - $43,000', '23.00026.000€', '$35,000 - $40,000',
       '$25,000 - $35,000', '$40,000 - $50,000', '$15,000 - $20,000',
       '$25,000 - $30,000', '$32,000 - $35,000', '$31,000 - $34,000',
       '$29,000 - $32,000', '$28,000 - $30,000', '$26,000 - $28,000',
       '$27,000 - $35,000', '$45,000 - $50,000', '$30,000 - $35,000',
       '$15,000 - $17,000', '$23,000 - $25,000', '$35,000 - $45,000',
       '$17,000 - $20,000', '45.00050.000€', '$25,000 - $28,000',
       '15.00017.000€', '$70,000 - $90,000', '$50,000 - $60,000',
       '$20,000 - $23,000', '$15,000 - $18,000', '$10,000 - $12,000',
       '$18,000 - $22,000', '$18,000 - $20,000', '22.00026.000€',
       '$24,000 - $28,000', '$21,000 - $25,000', '$23,000 - $28,000',
       '26.00032.000€', '$29,000 - $36,000', '$36,000 - $42,000',
       '$38,000 - $45,000', '$27,000 - $33,000', '$33,000 - $40,000',
       '$33,000 - $37,000', '$22,000 - $28,000', '$28,000 - $33,000',
       '$24,000 - $30,000', '$30,000 - $50,000', 'N/A (Concept Only)',
       '$14,000 - $18,000', '$12,000 - $16,000', '$18,000 - $24,000',
       '$13,000 - $18,000', '9.00012.000€', '$12,000 - $18,000',
       '$8,000 - $10,000', '9.00011.000€', '$40,000 - $45,000',
       '$20,000 - $24,000', '25.00030.000€', '$28,000 - $32,000',
       '$22,000 - $26,000', '$13,000 - $16,000', '14.00016.000€',
       '$5,000,000 - $70000', '$43,590 - $48,000', '$50000 ',
       '$25210 - $29135', '$ 33,000', '$29000 - $43000', '$86000',
       '$92000', '$51000', '$57000', '$245000', '$63000', '$135000',
       '$58000', '$240000', '$280000', '$140000', '$71000', '$125000',
       '$5000000', '$4700000', '$42000', '$32000', '$28000', '$55000',
       '$95000', '$108000', '$75000', '$69000', '$30000', '$70000',
       '40000€', '$60000', '$24000', '$90000', '$330000', '$380000',
       '$400000', '$45000', '$37000', '$40000', '$39000', '$43000',
       '$80000', '$72000', '$61000', '$31000', '$48000', '$36000',
       '$35000', '$600000', '$85000', '$1230000', '$59000', '$250000',
       '$77000', '260000€', '$110000', '$38000', '$52000', '100000€',
       '$68000', '$41000', '$78000', '$105000', '$190000', '47000€',
       '38000€', '$99000', '65000€', '95000€', '$185000', '$84000',
       '$130000', '$33000', '$49000', '$22000', '$110.000', '$800.000',
       '$2000000', '70000€', '$34000', '$96000', '$56000', '$50000',
       '$120000', '$215000', '$160000', '290000€', '$150000', '$200000',
       '$44000', '$27000', '$29000'], dtype=object)

In [30]:
df["TipoCombustible  "].unique()

array(['Plug In Hybrid', 'Petrol', 'PETROL', 'diesel', 'Hybrid', 'petrol',
       'Electric', 'Diesel', 'DIESEL', 'Petrol/Diesel', 'PETROL/DIESEL',
       'Plug-In Hybrid', 'Petrol/Awd', 'Petrol/Hybrid', 'Hydrogen',
       'Diesel/Petrol', 'petrol/ev', 'Petrol/hyrbrid', 'Hybrid/Electric',
       'Petrol, Hybrid', 'Petrol, Diesel', 'electric', 'Hybrid (Petrol)',
       'Cng/Petrol', 'ELECTRIC', 'HYBRID', 'hybrid', 'Hybrid/Petrol',
       'hyrbrid', 'Diesel Hybrid', 'Petrol (Hybrid)', 'petrol/diesel',
       'Hybrid (Gas + Electric)', 'Gas / Hybrid', 'Hybrid / Plug-In',
       'plug in-In hyrbrid', 'PLUG-IN HYBRID'], dtype=object)

In [31]:
df["  Num Asientos "].unique()

array(['2', '5', '4', 'dos', nan, '7', 'cinco', 'cuatro', '8', '20', '15',
       '12', '3', 'siete', '9', '6', '1'], dtype=object)

In [32]:
df["Par motor (Nm)??"].unique()

array(['800 Nm', '900 N·m', '100 - 140 Nm', '900 Nm', '560 Nm', '770 Nm',
       '685 Nm', '690 Nm', '718 N·m', '760 Nm', '719 Nm', '500 Nm',
       '205 Nm', '250 Nm', '651 Nm', '637 Nm', '366 Nm', '475 Nm',
       '380 Nm', '354 Nm', '240 Nm', '270 Nm', '351 Nm', '381 Nm',
       '1000 Nm', '700 Nm', '630 Nm', '630', '821 Nm', '720 Nm', '600 Nm',
       nan, '850 Nm', '850Nm', '565 Nm', '870 Nm', '850 nm', '500 nm',
       '520 Nm', '620 Nm', '950 Nm', '750 Nm', '650 nm', '550 Nm',
       '650 Nm', '840 Nm', '900', '800Nm', '400 Nm', '400 N·m', '664 Nm',
       '570 Nm', '500 N·m', '400Nm', '400 nm', '220 nm', '450 Nm',
       '200 Nm', '300 Nm', '270 nm', '200Nm', '350 Nm', '370 Nm', '360',
       '142 Nm', '335 Nm', '360 Nm', '150 Nm', '330 Nm', '145 Nm',
       '120 Nm', '280', '320 Nm', '113 Nm', '200 nm', '250 nm', '130 Nm',
       '93 Nm', '280 Nm', '340 Nm', '390 Nm', '420Nm', '356 Nm', '400',
       '355 Nm', '395 Nm', '264 Nm', '295 Nm', '300Nm', '175 Nm',
       '350 N·m', '310 Nm', '95 Nm', '385 Nm', '340 N·m', '420 Nm', '350',
       '460 nm', '410 Nm', '245 Nm', '132 Nm', '106 nm', '153 Nm',
       '290 Nm', '220 Nm', '580 Nm', '310Nm', '170 Nm', '230 Nm',
       '210 Nm', '140 Nm', '320', '210 N·m', '154 Nm', '160', '260 Nm',
       '325 N·m', '353 Nm', '305 Nm', '160 Nm', '174Nm', '150 N·m',
       '156 Nm', '171 Nm', '180 Nm', '248 Nm', '652 Nm', '190 Nm',
       '139 Nm', '191 Nm', '106 Nm', '199 Nm', '207 Nm', '145 N·m',
       '780 Nm', '374', '451 Nm', '329 Nm', '186 Nm', '168 Nm', '161 Nm',
       '265 Nm', '240 N·m', '217 Nm', '225 Nm', '392 Nm', '450Nm',
       '110 Nm', '184 Nm', '275 Nm', '150', '451 N·m', '278 Nm', '325 Nm',
       '365 Nm', '135', '384 Nm', '103 Nm', '206 Nm', '62 Nm', '188 Nm',
       '130', '140', '195 Nm', '580', '198', '135 Nm', '560', '260',
       '344', '160Nm', '198 nm', '230', '350 nm', '820 Nm', '528 Nm',
       '450 nm', '469 Nm', '465 Nm', '344 Nm', '640 Nm', '1050 Nm',
       '380Nm', '430 Nm', '870Nm', '345 Nm', '530 Nm', '470 Nm', '480 Nm',
       '114 Nm', '113-200 Nm', '51 Nm', '100 Nm', '114Nm',
       '190 Nm / 140 Nm', '624 Nm', '135 Nm / 115 Nm', '200 Nm / 115 Nm',
       '115 Nm', '170-260 Nm', '967 N·m', '1400', '660 Nm', '967 Nm',
       '1,400 Nm', '498 Nm', '559 Nm', '1,355 Nm', '10,000 Nm', '353 nm',
       '352 Nm', '285 Nm', '548 Nm', '617 Nm', '353', '529Nm', '324 Nm',
       '637 N·m', '440 Nm', '885 Nm', '893 Nm', '603 Nm', '127 Nm',
       '519 Nm', '583 Nm', '629 Nm', '1234 Nm', '360 nm', '236 Nm',
       '881 Nm', '519Nm', '413 Nm', '255 Nm', '275 N·m', '1000+ Nm',
       '366 N·m', '366', '569 Nm', '259 Nm', '373 Nm', '15,590 Nm',
       '629Nm', '1,064 Nm', '275', '151 Nm', '421Nm', '179 Nm', '422 Nm',
       '246 Nm', '355', '510 Nm', '355Nm', '740 Nm', '422Nm', '352',
       '1600 Nm', '1600Nm', '2600 Nm', '3500 Nm', '2200 Nm', '2500 Nm',
       '2400 Nm', '1800 Nm', '1200 N·m', '430 N·m', '696 Nm',
       '365 Nm / 480 Nm', '215 Nm', '680 Nm', '365 N·m', '460 Nm',
       '625 N·m', '666 Nm', '362 Nm', '247 Nm', '600 nm', '260 nm',
       '520 nm', '260Nm', '200 - 400 Nm', '130 - 290 Nm', '150 - 400 Nm',
       '170 - 200 Nm', '230 - 200 Nm', '400 - 475 Nm', '420 - 500 Nm',
       '650 - 800 Nm', '400 - 600 Nm', '250 - 375 Nm', '400 - 700 Nm',
       '700 - 1,050 Nm', '1,050 - 1,200 Nm', '250 - 380 Nm',
       '400 - 540 Nm', '430 Nm (GT Model)', '1051 Nm',
       '210 Nm (Electric)', '530 nm', '746 Nm', '583', '691 Nm',
       '1,424 Nm', '847 Nm', '582 Nm', '678 Nm', '563 Nm', '405 Nm',
       '825 Nm', '542 Nm', '300 N·m', '197 Nm', '441 Nm', '407 Nm',
       '196 Nm', '141 Nm', '100 - 180 Nm', '250Nm', '154 - 197 Nm', '199',
       '686 nm', '60 Nm', '94 Nm', '181 Nm', '214 Nm', '60Nm', '200 N·m',
       '343 Nm', '173 Nm', '213 Nm', '252 Nm', '434 Nm', '271 Nm',
       '202 Nm', '330 nm', '314 Nm', '280Nm', '165 Nm', '170 N·m',
       '90 Nm', '85 nm', '80 Nm', '85 Nm', '155 nm', '300', '105 Nm',
       '140 N·m', '45 nm', '135Nm', '160 nm', '239 Nm', '190 - 210 Nm',
       '190 - 205 Nm', '221 - 400 Nm', '900 nm', '795 Nm', '745 Nm',
       '1600 nm', '440 nm', '800 nm', '545 Nm', '740', '716 Nm', '596 Nm',
       '860 Nm', '549', '315 Nm', '580 N·m', '435 Nm', '649 Nm',
       '1390 Nm', '730 Nm', '1020 Nm', '858 Nm', '494 Nm', '270',
       '910 Nm', '686 N·m', '960 Nm', '337 Nm', '1100 Nm', '305',
       '543 Nm', '1060 Nm', '491 Nm', '248 nm', '540 Nm', '1350 Nm',
       '330 N·m', '235 Nm', '1200 Nm', '709 Nm', '390 N·m', '370 nm'],
      dtype=object)

`IMP: DE ESTA FORMA APARECEN TODOS LOS VALORES DIFERENTES PERO PARA SABER EL NUMERO DE VALORES DISTINTOS USAMOS:`

```python
df["nombre_columna"].nunique()  
```

In [33]:
df.nunique()

 Company  Names!!         52
Car_Name @              1358
Tipo de motor            409
CC / Batt.Capacidad      481
 Horse Power(HP)!        552
velocidad max kmh        174
0_100 km/h  (seg)        181
Precio $$ coche          616
TipoCombustible           37
  Num Asientos            16
Par motor (Nm)??         392
dtype: int64

Al usar nunique() veo que hay 17 tipos de asientos y 37 tipos de combustible, algo imposible en un dataset real. Esto demuestra que están muy sucias

### 3.Conclusión tras realizar la exploración

Después de analizar el dataset, queda bastante claro que está muy desordenado. Hay columnas que deberían ser numéricas pero aparecen como texto, valores escritos de mil formas diferentes, símbolos mezclados con números, unidades inconsistentes y bastantes datos faltantes. También he visto cosas que no tienen sentido, como 17 tipos distintos de asientos o 37 tipos de combustible, lo cual confirma que la información no está estandarizada.

En general, la exploración me ha servido para entender qué problemas tiene el dataset y qué partes necesitan una limpieza más profunda. Gracias a esta fase ya tengo claro qué columnas debo corregir, transformar o normalizar antes de poder hacer cualquier análisis real. El siguiente paso será aplicar toda la limpieza necesaria para dejar los datos listos para trabajar.